@import 'Font';

.change {
  font-family: $open-sans;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.25px;
  margin-bottom: 20px;
  line-height: 20px;
}

.change__detail {
  margin-left: 5px;
}
