@import "~react-vis/dist/style";
@import 'Font';


.rv-crosshair__line {
  background: lightgrey;
  width: 1px;
}

.crosshair-date {
  font-display: auto;
  font-family: $open-sans;
  font-display: auto;
  color: lightgrey;
  font-size: 14px;
}
