@import 'Font';

.digit {
  font-family: $open-sans;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -0.9px;
  line-height: 42px;
  margin: 0px;
  padding: 0px;
  transform: translateY(-378px);
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  float: left;
}

.symbol {
  font-family: $open-sans;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -0.7px;
  line-height: 42px;
  margin: 0px;
  padding: 0px;
  float: left;
}

.ticker {
  overflow: hidden;
  height: 42px;
}