@import 'Font';

.timeframes {
  padding: 5px 5px 12px 0px;
  font-family: $open-sans;
  font-weight: 600;
  border-bottom-width:1px;
  border-bottom-color:#f4f4f5;
  border-bottom-style: solid;
  width: 1000px;
  font-size: 12px;
}

.timeframe {
  @extend .timeframes;
  margin: 10px 20px 10px 0px;
}

#selected-up {
  color: #21ce99;
  border-bottom-color:#21ce99;
}

#selected-down {
  color: #f45531;
  border-bottom-color:#f45531;
}

.up:hover {
  color: #21ce99;
  cursor: pointer;
}

.down:hover {
  color: #f45531;
  cursor: pointer;
}



