@import 'Font';

.timeframes {
  font-display: auto;
  padding: 5px 5px 5px 0px;
  font-family: $open-sans;
  border-bottom-width:1px;
  border-bottom-color:#f4f4f5;
  border-bottom-style: solid;
  width: 1000px;
  font-size: 13px;
}

.timeframe {
  font-display: auto;
  padding: 5px 5px 5px 0px;
  margin: 10px 10px 10px 0px;
}

.timeframe:hover {
  font-display: auto;
  color: #21ce99;
  cursor: pointer;
}

.selected-timeframe {
  font-display: auto;
  padding: 5px 5px 5px 0px;
  margin: 10px 10px 10px 0px;
  color: #21ce99;
  border-bottom-width:2px;
  border-bottom-color:#21ce99;
  border-bottom-style: solid
}



